<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.architjn.materialicons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/theme_title"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/theme_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.anddoes.launcher.THEME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ApplyIconActivity"
            android:label="@string/theme_title"
            android:theme="@style/AppTheme.Apply" />
        <activity
            android:name=".ui.IconsActivity"
            android:label="@string/theme_title"
            android:theme="@style/AppTheme.Icons" />
    </application>

</manifest>
